// _mixins.scss
$primary-color: #020617;
$secondary-color: #64748b;

$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;
$slate-600: #475569;

$blue-500: #3b82f6;

// Define Standard Grids
$grid-cols-1: repeat(1, minmax(0, 1fr));
$grid-cols-2: repeat(2, minmax(0, 1fr));
$grid-cols-3: repeat(3, minmax(0, 1fr));
$grid-cols-4: repeat(4, minmax(0, 1fr));

$col-span-1: span 1 / span 1;
$col-span-2: span 2 / span 2;
$col-span-3: span 3 / span 3;
$col-span-4: span 4 / span 4;

// Define Standard Outlines
$hover-outline: 3px solid $slate-200;
$focus-outline: 3px solid $blue-500;

// Define Aspect Ratios
$ratio-1x1: 1 / 1;
$ratio-2x1: 2 / 1;
$ratio-1x2: 1 / 2;

// Define Breakpoints

// Anything greater than 768px ie. desktop
@mixin desktop() {
  @media (min-width: 768px) {
    @content;
  }
}
