h1 {
    @apply text-5xl font-bold max-w-2xl;
}


p {
    @apply text-base max-w-2xl  leading-relaxed;
}

img {
    left: 50%;
    margin-left: -35vw;
    margin-right: -35vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 70vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
}