@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.text-secondary {
  @apply text-slate-600;
}


a {
  @apply text-blue-600 transition duration-150 ease-in-out;
}

a:hover {
  @apply text-blue-700 underline;
}

a.button {
  @apply lg:w-auto w-full px-6 border font-normal rounded-md py-2 lg:py-1 text-slate-800 hover:bg-slate-50 hover:text-slate-800 lg:bg-white bg-gray-50 text-lg lg:text-sm;
}