@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #ffffff;
  background-image: url(/bg-tile.png);
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.text-secondary {
  @apply text-slate-600;
}

a {
  @apply text-blue-600;
}

a:hover {
  @apply text-blue-700 ;
}

a.button {
  @apply w-full px-6 py-2 text-lg font-normal   hover:outline outline-slate-200 lg:w-auto lg:py-1 text-slate-800 hover:text-slate-800  bg-slate-100 lg:text-sm;
}

.card-1-1 {
  aspect-ratio: 1 / 1;
  @apply col-span-3 lg:col-span-1;
}

.card-2-1 {
  aspect-ratio: 2.1045 / 1;
  @apply col-span-3 lg:col-span-2;
}

.card-3-1 {
  aspect-ratio: 3 / 1;
  @apply col-span-3;
}

.ratio-2-1 {
  aspect-ratio: 2.075 / 1;
}
